.App {
  /* display:grid;
  grid-template-columns:  repeat(3, 1fr);;
  grid-template-rows: 50% 50%; */
  display: flex;
  flex-wrap: wrap;
  
  min-height: 100vh;
  background: rgb(244,244,246);
  background: linear-gradient(120deg, rgba(244,244,246,1) 0%, rgba(244,234,207,1) 53%, rgba(244,240,216,1) 100%);
}
.element{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 30px;
}

.icon{
  text-shadow: hoff voff blur #000; text-shadow: 2px 2px #ff0000;
  font-size: 160px;
  transition: all 0.3s;
  overflow: hidden;
}
.icon:hover{
  transform: scale(1.15);
  cursor: pointer;
  /* border:2px solid#777; */
}

@media only screen and (min-width: 600px) {
  .icon{    
    font-size: 150px;
  }
}

.color-green{
  color:#99CC33;
}
.color-green-2{
  color:#8BC24B;
}
.color-red{
  fill:#FF3334;
}
.color-red-2{
  fill:#ff3b30;
}
.color-blue{
  fill:#32CCFE;
}

.color-purple{
  fill:#BF43BF;
}
.color-orange{
  fill:#FF6600;
}
.color-brown{
  fill:#C75F3C;
}
