.App {
  display:grid;
  grid-template-columns:  repeat(3, 1fr);;
  grid-template-rows: 50% 50%;
  height: 100vh;
}
.element{
  display: flex;
  align-items: center;  
  justify-content: center;
  border:1px solid red;
  font-size: 100px;
}
